version: '3.9'

services:
  mysql:
    image: mysql
    restart: unless-stopped
    environment:
      MYSQL_ROOT_PASSWORD: root
      MYSQL_DATABASE: api-gateway
      MYSQL_USER: gateway
      MYSQL_PASSWORD: gateway
    ports:
      - "3306:3306"
    networks:
      - network

  redis-cache:
    image: "redis/redis-stack:latest"
    ports:
      - "6379:6379"
      - "8001:8001"
    environment:
      REDIS_PASSWORD: admin
    networks:
      - network

networks:
  network:
    driver: bridge